<%- include('partials/header') %>


<div class="centered ">

  <div class="container">
    <i class="fas fa-user-secret fa-6x"></i>
    <!-- <i class="fas fa-key "></i> -->
    <h1 class="display-3">Secrets</h1>
    <h2 class="lead">Share your secrets anonymously, The world wants to know you :) </h2>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn button btn-lg" href="/login" role="button">Login</a>

  </div>
</div>


<%- include('partials/footer') %>
