<%- include('partials/header') %>

<%- include('partials/navbar') %>
  </nav>

<div class="centered2">
<div class="container">

    <h2 class="secretPageH2">All secrets of this Anonymous Person ;)</h2>
<% secret.forEach(function(secret) { %>
    <p class="secret-text"><%= secret %></p>
<% }); %>
</div>
</div>


<%- include('partials/footer') %>